html {
    tamaño de fuente : 10px ;
    familia de fuentes : "Open Sans" , sans-serif ;
   
    }
   
    h1 {
    tamaño de fuente : 60px ;
    alineación de texto : centro ;
    }
   
    pag , li {
    tamaño de fuente : 16px ;
    altura de línea : 2 ;
    espacio entre letras : 1px ;
    }
   
    html {
    color de fondo : rgb ( 192 , 255 , 216 );
    }
   
    cuerpo {
    ancho : 600px ;
    margen : 0 automático ;
    color de fondo : rgb ( 219 , 183 , 253 );
    relleno : 0 20px 20px 20px ;
    borde: 5 x rgb sólido ( 255 , 255 , 255 );
    }
   
    h1 {
    margen : 0 ;
    relleno : 20px 0 ;
    color : rgb ( 255 , 214 , 127 );
    sombra de texto : 3px 3px 1px negro ;
    }
   
    imagen {
    mostrar : bloquear ;
    margen : 0 automático ;
    }